@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-nord0 leading-normal tracking-normal;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
